{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Add Customer</h2>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" novalidate>

        <label for="location">Location:</label>
        <input type="text" id="Location" name="Location" required>
        
        <div>
            <button type="submit">Add Customer</button>
        </div>
       
    </form>
</section>
{% endblock %}