{% extends 'base.html' %}
{% block content %}
<section>
    <h2>Customer List {{ customer_count }}</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>
                    <a href="{{ url_for('update_customer', customer_id=customer.id) }}">Edit</a>
                    <a href="{{ url_for('delete_customer', customer_id=customer.id) }}"
                        onclick="return confirm('whatddaa?')">Delete</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</section>
{% endblock %}