{% extends 'base.html' %}
{% block content %}
<section>
    <h2>Customer List</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
             
</section>
{% endblock %}