{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Update Inventory</h2>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ inventory.name }}" required>
        
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="{{ inventory.price }}" required>

        <label for="phone">Quantity:</label>
        <input type="text" id="quantity" name="quantity" value="{{ inventory.quantity }}" required>
        
        <button type="submit">Update Inventory</button>
    </form>
</section>
{% endblock %}







